<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konwerter plików</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1>Witaj w naszym konwerterze plików!</h1>
        <p>Konwertuj różne typy plików na inne formaty.</p>
    </header>
    <main>
        <section>
            <h2>Wybierz format pliku do konwersji:</h2>
            <form action="/konwertuj" method="post" enctype="multipart/form-data">
                <label for="format">Wybierz format:</label>
                <select id="format" name="format">
                    <option value="pdf">PDF</option>
                    <option value="docx">DOCX</option>
                </select>
                <input type="file" name="plik" required>
                <button type="submit">Konwertuj</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© 2024 KonwerterPlikow.pl</p>
    </footer>
</body>
</html>
